.btn--secondary{
    background-image: url(/resources/psychologist/testIcon.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
    background-position-x: 12px;
}

.btn--main{
    background-image: url(/resources/psychologist/cameraIcon.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
    background-position-x: 12px;
}

.btn--third{
    background-image: url(/resources/psychologist/reportIcon.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18px;
    background-position-x: 12px;
}