.popUpOffer{
    display: flex; 
    position: fixed; 
    flex-direction: column;
    align-items: center;
    z-index: 11;
    padding: 35px 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);

    &__noScroll{
        position: static;
        height: 100%;
        overflow: hidden;
    }

    &--inactive{
        display: none;
    }

    &__content{
        background-color: #fefefe;
        position: relative;
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 70%;
        height: 100%;
        padding: 25px;

        &Section{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
            & p{
                margin: 0px;
                color: $color-blue;
            }   

            & span {
                color: #c4c4c4;
                font-size: 28px;
                float: right;
                font-weight: 700;
                margin-right: -10px;
                margin-top: -30px;
            }

            &Close:hover{
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    
            &Close:focus{
                color: $color-darkGray;
                text-decoration: none;
                cursor: pointer;
            }
        }

        &Info{
            margin-top: 10px;
            color: $color-blue;

            &Title{
                margin: 0px;
                font-size: $typo-h2;
                font-weight: $typo-bold;
            }

            &SubTitle{
                margin: 0px;
                font-size: $typo-h3;
                font-weight: $typo-semibold;
            }
        }

        &Divider{
            width: 100%;
            height: 1px;
            background-color: $color-gray;
            margin-top: 5px;
        }

        &Form{
            margin-top: 5px;
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;
            height: 70%;
            padding-right: 10px;
        }

        &FormRow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &--five{
                justify-content: flex-end;
                margin-top: 15px;
            }
        }
    }


    
}