.complete-request--applied{
    background-color: $color-red;
}

.servDetails {

    &__section {
        transition: height .2s ease-out;
        width: calc(100% + 40px);
        position: relative;
        left: -20px;
        overflow-y: hidden;

        &--hidden {
            height: 0;
        }

        &Header {
            display: flex;
            width: calc(100% + 40px);
            position: relative;
            background-color: rgba($color: $color-gray, $alpha: .3);
            left: -20px;
            padding: 0 40px;
            align-items: center;
            height: 35px;
            cursor: pointer;
            transition: all .2s ease-out;

            &--hidden {

                & img {
                    transform: rotate(180deg);
                }
            }

            & h3 {
                margin: 0 5px;
                font-size: $typo-h3;
                color: $color-blue;
            }
        }
    }

    &__candidate {
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        padding: 0 10%;
        border-bottom: solid 1px rgba($color: $color-gray, $alpha: .3);
        height: 55px;
        justify-content: space-between;

        & p {
            width: 20%;
        }
    }

    &__progressBar {
        position: relative;
        border-radius: 13px;
        width: 110px;
        height: 25px;
        background-color: rgba($color: $color-gray, $alpha: .7);

        & p {
            position: relative;
            color: white;
            margin: 0;
            line-height: 25px;
            font-weight: $typo-semibold;
            margin-left: 10px;
        }
    }

    &__currentProgress {
        position: absolute;
        height: 25px;
        width: 78px;
        border-radius: 13px;

        &--red {
            background-color: $color-red;
        }

        &--yellow {
            background-color: $color-gold;
        }

        &--green {
            background-color: $color-green;
        }
    }

    &__inProcess {
        opacity: 0;

        &--active {
            opacity: 1;
        }

        & p {
            font-size: $typo-h4;
            color: white;
            background-color: $color-green;
            padding: 3px 10px;
            border-radius: 14px;
            width: auto;
        }
    }

    &__text {
        &--blue {
            color: $color-blue;
        }

        &--bold {
            font-weight: $typo-bold;
        }
    }
}