html{
    min-height: 100%;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #CCC;
}

.contentTO{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.bannerTO{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 20px;
    border: #294f75 solid 2px;
    border-radius: 6px;
    padding: 15px;
    background-color: #FAFAFA;

    &__container{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-evenly;
        align-items: center;
    }

    &__icon{
        width: 10%;
        display: flex;
        flex-direction: row;

        & img{
            width: 100%;
            height: 100%;
        }
    }


    &__info{
        width: 80%;
        text-align: center;

        & h1{
            font-size: 18px;
            color: #494949;
            margin: 0px;
            margin-bottom: 10px;
        }

        & p{
            font-size: 14px;
            color: #69757b;
            margin: 0px;
        }
    }

    &__to{
        width: 25%;

        &Btn{
            border-radius: 3px;
            padding: 10px 16px;
            background-color: #294f75;
            border-color: #25476a !important;
            color: #fff;
            font-size: 14px;
            line-height: 1.44;
            cursor: pointer;
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
        }

        & a {
            display: none;
        }
    }
    
    
}

@media (max-width: 992px) {
    .bannerTO{
        width: 80%;

        &__icon{
            width: 11%;
        }

        &__to{
            width: 28%;
        }
    }
}

@media (max-width: 769px) {
    .bannerTO{
        width: 90%;

        &__icon{
            width: 12%;
        }

        &__info{
            width: 70%;

            & h1{
                font-size: 14px;
            }

            & p {
                font-size: 12px;
            }
        }
    
        &__to{
            width: 30%;

            &Btn{
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 576px) {
    .bannerTO{
        width: 90%;
        flex-direction: column;
        min-width: 250px;

        &__container{
            width: 90%;
            justify-content: space-between;
        }

        &__info{
            width: 75%;
            margin-left: 0;

            & h1{
                font-size: 18px;
                margin-bottom: 0;
            }

            & p {
                display: none;
                font-size: 11px;
            }
        }

        &__icon{
            width: 12%;
            min-width: 40px;
        }

        &__to{
            width: 90%;

            &Btn{
                font-size: 13px;
                margin-top: 20px;
            }
        }
    }
}


* {
    font-family: 'Open Sans';
    box-sizing: border-box;
}