.pay{


    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;

    &__result{

        width: 100%;
        padding: 0px 2em;

        & h2{
            color: #294F75;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            margin-top: 20px;
            padding: 20px;
        }

        &Icon{
            width: 100%;
            margin: auto;
            & img{
              width: 8em;
              height: 8em;
              display: block;
              margin-left: auto;
              margin-right: auto;
              padding: 10px;
              margin-bottom: 20px;
              margin-top: 20px;
            }
        }

        &Message{
            text-align: center;
            margin: auto;
            color: #294F75;
        }
    }

    &__content {
        margin: 20px 0;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 100%;
        height: fit-content;
        padding-bottom: 0;
    }


    &__input {
        width: 50%;
        margin: 40px 25%;
        margin-bottom: 20px;

        & .label {
            left: 25px;
            top: 16px;

            &--active {
                transform: translate(-25px, -225%);
                font-size: $typo-button;
            }
        }       
    }

    &__btn {
        margin: 0 auto;
        display: block;
    }

    &__title{
        color: #294F75;
        font-size: 20px;
        font-weight: 700;
        padding-top: 30px;
        margin-left: 30px;
    }

    &__description{
        margin-right: 20px;
        color: #294F75;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    &__details{

        width: 100%;
        padding: 0px 2em;

        &--hide{
            display: none;
        }

        & h2{
            color: #294F75;
            font-size: 20px;
            font-weight: 700;
        }

        & p {
            color: #294F75;
        }
        
        &Request{
            display: flex;

            justify-content: space-between;
            border-top: 1px solid $color-gray;
        }

        &Amount{
            display: flex;

            justify-content: space-between;
            border-top: 1px solid $color-gray;
        }

        &Subtotal{
            display: flex;

            justify-content: space-between;
            border-top: 1px solid $color-gray;
            border-bottom: 1px solid $color-gray;
            &Data{
                display: flex;
    

                &Number{
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }

        &Promo {
            display: none;
            justify-content: space-between;
            border-bottom: 1px solid $color-gray;

            &--active {
                display: flex;
            }

            &Data {
                display: flex;
            }
        }

        &Total{
            display: flex;

            justify-content: space-between;
            color: #294F75;
            font-size: $typo-h3;

            &Data{
                display: flex;
    
            }
        }
    }

    &__buttons {
        display: flex;
        margin: 30px 0px;
        justify-content: center;

        &Btn {
            display: flex;

            align-items:center;
            box-sizing: border-box;
            border-radius: 10px;
            margin: 0px 20px;
            cursor: pointer;

            &--fill {
                background-color: $color-blue;
                border: 1px solid $color-lightGray;
                color: white;

                & .pay__buttonsCircle {
                    border: 2px solid white;
                }
            }

            &--nofill {
                background-color: white;
                border: 2px solid $color-blue;
                color: $color-blue;

                & .pay__buttonsCircle {
                    border: 2px solid $color-blue;
                }
            }
        }

        &Circle{
            width: 12px;
            height: 12px;
            border-radius: 25px;
            margin: 0px 10px;
        }

        &Price{
            display: flex;

            margin-right: 10px;

            & h4 {
                font-size: $typo-xSmall;
                margin-left: 5px;
                font-weight: $typo-regular;
            }
            
        }
    }
}