/*.help-block {
    position: absolute;
    color: #D23A3A;
    font-size: 13px;
    margin-top: 10px;
    top: 85%;
}

.has-error {
    margin-bottom: 20px;
}*/


.reqCreation {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;

    &__hasError{
        margin-bottom: 0px;

        & .help-block{
            margin-left: 0px;
            position: absolute;
            margin-top: 10px;
        }
    }

    &__btnDelete{
        color: none;
        background-color: transparent !important;
        border: none;
        background-image: url(../resources/deteleIcon.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
        margin-bottom: 9px;
    }

    &__content {
        width: 100%;
        display: none;

        &--active {
            display: block;
        }
    }

    & form {
        display: flex;
        flex-direction: column;
        padding: 30px;
        padding-top: 0;

        & .btn {
            margin: 30px auto;
            align-self: auto; // modified for vertical align
            justify-self: center;
            margin-bottom: 0;
        }
    }

    & h2 {
        color: $color-blue;
        font-size: $typo-body;
        font-weight: $typo-bold;
        margin-left: 30px;
        padding-top: 30px;
    }

    & p {
        color: $color-blue;
        margin-bottom: 20px;
        margin-left: 30px;
    }

    &__row {
        width: 100%;
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        align-items: flex-end;
        height: 90px;

        &--hasError{
            margin-bottom: 10px;
        }
        
    }

    &__functions{
        display:flex;
        flex-direction: column;
        align-items: center;

        & .btn{
            margin: 0px auto 30px auto;
            align-self: center;
            justify-self: center; 
        }

        &Container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 20px 0px;

            &BtnMove{
                display: none;
                margin-right: 20px;
                color: none;
                background-color: transparent !important;
                border: none;
                background-image: url(../resources/moveIcon.svg);
                background-repeat: no-repeat;
                background-position: center;
                width: 40px;
                height: 40px;
            }

            &BtnDelete{
                margin-left: 20px;
                color: none;
                background-color: transparent !important;
                border: none;
                background-image: url(../resources/deteleIcon.svg);
                background-repeat: no-repeat;
                background-position: center;
                width: 40px;
                height: 40px;
            }
        }

       
    }

    &__footer {
        display: flex;
        background-color: $color-lightGray;
        padding: 30px;
        align-items: center;
        border-radius: 0 0 10px 10px;
        border-top: solid 1px $color-gray;
        justify-content: space-between;

        & div {
            display: flex;
        }

        & h4 {
            cursor: pointer;
        }
    }

    &__progress {
        width: 10px;
        height: 10px;
        border-radius: 8px;
        margin: 15px;

        &--current {
            background-color: $color-blue;
        }

        &--incomplete {
            background-color: $color-gray;
        }

        &--completed {
            background-image: url('../resources/smallCheckIcon.svg');
            background-size: cover;
        }
    }

    &__back {
        font-size: $typo-body;
        font-weight: $typo-semibold;
        color: $color-blue;
        text-decoration: none;
    }
}

.reqForm{
    width: 100%;
}

@media  (max-width: $screen-small) , (max-width: $screen-large) and (min-width: $screen-medium) {
    .reqCreation {

        &__row {
            flex-direction: column;
            height: fit-content;
            margin: 0;
    
            & .select__container, .textInput__container {
                margin: 0;
                margin-top: 45px;
            }

            & .has-error {
                margin-bottom: 15px;
            }

            & .selectadd {
                margin: 0;

                &--multiple {
                    margin-top: 45px;
                }
            }
        }
    }

    .textInput__container--reqCreation {

        &1col {
            width: 100%;
        }

        &2col {
            width: 100%;
        }

        &3col {
            width: 100%;
        }
    }

    .select__container--reqCreation {

        &1col {
            width: 100%;
        }

        &2col {
            width: 100%;
        }

        &3col {
            width: 100%;
        }
    }
}

@media (max-width: $screen-medium) {
    .reqCreation {

        &__progress {
            margin: 15px 8px;
        }
    }
}