.registerEdit{
    display: flex;
    width: 100%;

    .help-block{
        margin-left: 40px;
    }
}

.register__icon--thirdPart {
    & img{
        width: 59px;
    }
}

.registerSecondPart{
    display: flex;
    flex-direction: column;
    width: 100%;

    .help-block{
        margin-left: 40px;
    }
}

.registerThirdPart{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    & p {
        // width: calc(100% - 180px);
        margin-left: 40px;
    }

    .help-block{
        margin-left: 40px;
    }
}

.register__button--edit{
    width: calc(100% - 270px);
}

.register__text--edit{
    width: calc(100% - 270px);
}

.registerEdit--third{
    // width: calc(100% - 180px);
}

.croppie-container {
    position: absolute;    
    top: 0;
    border-radius: 5%;
}

.cr-boundary {
    background-color: #ADADAD;
    border-radius: 5%;
}

@media (max-width: $screen-large) {
    .registerEdit{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .register__form--edit{
        width: 100%;
    }

    .register__button--edit{
        width: calc(100% - 90px);
    }

    .register__text--edit{
        width: calc(100%);
    }
    
    .register {

        &__editPhoto {
            margin-top: 15px;

            &--active {
                margin-bottom: 90px;
            }
        }
    }

    .register__editPhoto--thirdPart{
        display: none;
    }
    
}

@media (max-width: $screen-small) {
    .registerEdit{
        margin-top: 20px;

        .help-block{
            margin-left: 0px;
        }
        
    }

    .selectadd--edit{
        width: 100%;
    }

    .login__passShow--edit{
        right: 0;
    }

    .login__passShowConfirmation--edit{
        right: 0;
    }

    .register__form--edit{
        width: 100%;
    }

    .register__button--edit{
        width: calc(100%);
    }

    .registerThirdPart{
        display: flex;
        flex-direction: column;
        width: 100%;

        & p{
            width: 100%;
            margin: 0;
        }
    }
    
}