.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $color-blue;
}

.register {
    margin-left: 62vh / 100vh * 100vh;
    padding: 50px 7%;
    background-color: $color-lightGray;

    &__title {
        font-size: $typo-h1;
        width: 100%;
        margin-top: 0;
    }

    &__container {
        width: 100%;
        display: flex;
    }

    &__subtitle {
        font-size: $typo-h4;
        width: 90px;
        margin: 0;
    }

    &__form {
        width: 100%;

        & .textInput {
            width: 70%;
            margin: 15px 0;
            margin-left: 20%;
        }
    }

    &__divider {
        width: 100%;
        height: 2px;
        background-color: $color-gray;
        margin: 25px 0;
        margin-right: 15%;
    }

    &__checkboxContainer {
        display: flex;
        margin-left: 20%;
        margin-top: 10px;
        & p {
            margin: 4px 10px;
            font-size: $typo-h4;
            & a {
                color: $color-blue;
                font-weight: $typo-bold;
            }
        }
    }

    &__button {
        margin-left: 20%;
        margin-top: 30px;
        width: 70%;
        font-size: $typo-largeButton;
    }

    &__text {
        font-size: $typo-h4;
        color: $color-darkGray;
        margin-left: 20%;
        width: 70%;
        text-align: center;

        & a {
            font-weight: $typo-semibold;
            color: $color-darkGray;
            text-decoration: none;
        }
    }

    &__label {
        margin-left: 20%;
        left: 25px;
        top: 32px;
    }
}

@media (max-width: $screen-large), (max-height: 530px), (orientation: portrait) {
    .register {
        margin: 0;
    }
}

@media (min-width: $screen-large) and (max-width: $screen-extraLarge) {
    .register {

        &__button {
            font-size: 1.7vw;
        }
    }
}

@media (min-width: $screen-small) and (max-width: $screen-large) {
    .register {

        &__button {
            font-size: $typo-button;
        }
    }
}


@media (max-width: $screen-small) {
    .register {

        &__container {
            flex-direction: column;
        }

        &__form {
            margin-top: 15px;
            
            & .textInput__container {

                & label, input {
                    margin-left: 0;
                    width: 100%;
                }
            }

            & select {
                margin-left: 0;
                width: 100%;
            }
        }

        &__divider {
            margin-right: 0;
        }

        &__checkboxContainer {
            margin: 0 auto;
            width: fit-content;
            margin-top: 10px;
        }

        &__button {
            width: 100%;
            margin-left: 0;
            margin-top: 25px;
            font-size: $typo-button;
        }

        &__text {
            width: 100%;
            margin-left: 0;
        }   
    }    
}