
/*
 * Buttons
 */

 .btn {

    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    background-color: $color-green;
    color: $color-lightGray;
    border: none;
    text-shadow: 0.5px -0.5px 0px rgba(0, 0, 0, 0.25);

    &--large {
        width: 331px;
        height: 43px;
        border-radius: 10px;
        font-size: $typo-h3;
        text-shadow: 0.5px -0.5px 0px rgba(0, 0, 0, 0.25);
        font-weight: $typo-semibold;
        
    }

    &--blue {
        background-color: $color-blue;
    }

    &--green {
        background-color: $color-green;
       
    }

    &--white {
        background-color: white;
        color: $color-darkGray;
    }

    &--rounded {
        width: 277px;
        height: 48px;
        border-radius: 50px;
        font-size: 16px;
        text-shadow: 0.5px -0.5px 0px rgba(0, 0, 0, 0.25);
    }

    &--medium {
        width: 237px;
        height: 43px;
        border-radius: 10px;
        font-size: 16px;
        text-shadow: 0.5px -0.5px 0px rgba(0, 0, 0, 0.25);
        &--cancel{
            background-color: $color-red;
        }
        &--noFill{
            border: 1px solid #294F75;
            box-sizing: border-box;
            border-radius: 10px;
            background: none;
            color: $color-blue;
            font-size: $typo-h3;
            font-weight: $typo-semibold;
            
        }
    }

    &--small {
        width: 152px;
        height: 54px;
        border-radius: 10px;
        font-size: 16px;
        text-shadow: 0.5px -0.5px 0px rgba(0, 0, 0, 0.25);
    }

    &--Xlarge {
        width: 460px;
        height: 65px;
        border-radius: 10px;
        font-size: 24px;
    }

    &--add {
        width: 70px;
        height: 70px;
        box-shadow: 0px 5px 15px rgba(121, 175, 58, 0.34);
        border-radius: 50px;
        
        position:fixed;
        bottom:40px;
        right:40px;
    }

    &--inactive {
        background-color: $color-gray;
    }

    &--noFill{
        width: 152px;
        height: 54px;
        border: 1px solid #294F75;
        box-sizing: border-box;
        border-radius: 10px;
        background: none;
        color: $color-blue;
        font-size: $typo-h3;
        font-weight: $typo-semibold;
    }

    &--noFill--active{
        width: 152px;
        height: 54px;
        border: 1px solid $color-green;
        box-sizing: border-box;
        border-radius: 10px;
        background: none;
        color: $color-green;
        font-size: $typo-h3;
        font-weight: $typo-semibold;
    }

    &:focus {
       outline: none; 
    }
 }