.candidate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid $color-gray;
    font-size: 1.1vw;

    &__profile{
        display: flex;
        flex-direction: row;
        align-items: center;
    
        &Img{
            width: 70px;
            height: 70px;
            border-radius: 40px;
            margin-right: 15px;
        }
    
        &Titles{
            display: flex;
            flex-direction: column;
    
            &Name{
                color: $color-blue;
                margin: 0px;
                font-size: 1.7em;
                font-weight: $typo-semibold;
            }
    
            &Job{
                margin: 0px;
                font-size: 1em;
                color: $color-darkGray;
            }
        }
    }

    

    &__info{
        display: flex;
        flex-direction: column;
        margin: 0 10px;

        &Cel{
            font-size: 1em;
            font-weight: $typo-regular;
            margin-top: 0px;
            margin-bottom: 2px;
            color: $color-darkGray;
            background-image: url('../resources/cellphoneIcon.svg');;
            background-repeat: no-repeat;
            background-position: left;
            background-size: 20px;
            background-position: 0% 50%;  
            padding-left: 30px;
        }

        &Email{
            margin: 0px;
            color: $color-darkGray;
            font-size: 1em;
            font-weight: $typo-regular;
            background-image: url('../resources/emailIcon.svg');;
            background-repeat: no-repeat;
            background-position: left;
            background-size: 20px;
            background-position: 0% 50%;  
            padding-left: 30px;
        }
    }

    &__btn {
        width: 22%;
    }

}

@media (max-width: $screen-large) {
    .candidate {    
        flex-direction: column;
        align-items: flex-start;

        &__btn {
            display: none;
        }
    
        &__profile {
            margin-top: 15px;

            &Img {
                width: 40px;
                height: 40px;
            }
    
            &Titles {
                &Name {
                    font-size: $typo-h3;
                }
    
                &Job {
                    font-size: $typo-xSmall;
                }
            }
        }

        &__info {
            margin: 15px 55px;

            & h2, h3 {
                font-size: $typo-xSmall;
            }
        }
    }

    
}

@media (max-width: $screen-medium) {
    .candidate{
        flex-direction: row;

        &__info{
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}


@media (max-width: $screen-small) {
    .candidate{
        flex-direction: column;

        &__info{
            margin-left: 55px;
            margin-right: 55px;
        }
    }
}