.label {
    position: absolute;
    transition: all .2s ease-out;
    font-size: $typo-button;
    font-weight: $typo-regular;
    color: $color-gray;
    cursor: text;
    opacity: 1;
    width: 58%;
    overflow: hidden;
    white-space: nowrap; 

    &--none {
        opacity: 0;
    }

    &--active {
        width: 80%;
    }
}

.textInput--focused .label {
    font-size: $typo-h4;
    font-weight: $typo-bold;
    color: $color-blue;
    
    &--register {
        transform: translate(-25px, -225%);
    }

    &--login {
        transform: translate(-50px, -215%);
    }
}

.textInput {
    width: 331px;
    height: 55px;
    border: 1px solid $color-gray;
    border-radius: 10px;
    font-size: 16px;
    background: #FFFFFF;     
    padding-left: 25px;   
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-out;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 35px;

        &--marginless {
            margin: 0;
        }
    }

    &:focus {
        outline: none;
        border: 1px solid black;
    }
        
    &--search{
        background-image: $bgImageSearchIconNavBar;
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 19px;
        width: 235px;
        height: 39px;
        color:  #B0B0B0;
    }
}

.checkboxInput {
    appearance: none;
    width: 24px;
    height: 24px;   
    border: 1px solid #CDC0C3;
    background-color: white;
    border-radius: 5px;

    &:focus {
        outline: none;
    }

    &:checked {
        background-color: $color-blue;
    }

    &--search{
        background-image: url('../resources/search_icon.png');
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 25px;
        width: 235px;
        height: 39px;
        color:  #B0B0B0;
    }
}