.noCandidate{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img{
        width: 140px;
        height: auto;
    }

    &__title{
        width: 260px;
        text-align: center;
        color: $color-blue;
        margin: 5px;
        font-size: $typo-h2;
    }

    &__info{
        width: 250px;
        text-align: center;
        color: $color-darkGray;
    }

    &__options{
        display: flex;
        flex-direction: row;
        width: 450px;
        justify-content: space-between;

        p{
            margin: 0px;
            color: $color-darkGray;
        }

        a{
            color: $color-blue;
        }
    }
}