.reqDetails {
    margin-right: 20px;

    &__back {
        color: $color-gray;
        text-decoration: none;
        background-image: $bgImageBackButton;
        background-repeat: no-repeat;
        padding-left: 25px;
        background-position-y: center;
        font-weight: $typo-bold;
        font-size: $typo-h4;

        &:hover {
            color: $color-darkGray;
        }
    }

    &__title {
        color: $color-blue;
        font-weight: $typo-semibold;
        font-size: $typo-subtitle;
        margin: 0;
        margin-right: 10px;
    }

    &__flexContainer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &--small {
            justify-content: flex-start;
        }
    }



    &__remainingTime {
        margin: 0;
        color: $color-blue;
        font-size: $typo-h4;
        font-weight: $typo-bold;
    }

    &__content {
        margin: 20px 0;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 100%;
        height: fit-content;

        &Header {
            display: flex;
        }

        &Category {
            cursor: pointer;
            margin: 1.5em 10px;
            margin-top: 0;
            color: $color-blue;

            & p::after {
                margin-top: .8em;
                display:block;
                content: '';
                border-bottom: solid 4px $color-blue;  
                transform: scaleX(0);  
                transition: transform .2s ease-in-out;
            }

            & p:hover::after {
                transform: scaleX(1);
            }

            &--active {
                font-weight: $typo-bold;

                & p::after {
                    transform: scaleX(1);
                }
            }

            & p {
                margin: 0;
            }
        }

        &Section {
            display: flex;
            width: 100%;
            min-height: 100px;
            padding: 20px 0;

            &--first {
                padding-top: 0;
            }

            &--dark {
                background: rgba(41, 79, 117, 0.05);
            }

            & h3 {
                color: $color-blue;
                font-size: $typo-button;
                font-weight: $typo-bold;
                text-align: end;
                flex: 1.3;
            }
        }
    }

    &__infoSection {
        flex: 3;
        color: $color-darkGray;
        list-style-position: inside;

        & li {
            margin-bottom: 15px;
        }

        &--cities {
            margin-left: 15px;
            padding: 5px;
        }

        &--bullet {
            & li {
                list-style: none;
    
                &::before {
                    content: '•';
                    font-size: $typo-xSmall;
                    padding-right: 5px;
                    position: relative;
                    top: -1px;
                }
            }
        }        
    }

    &__candidates {
        display: none;
        opacity: 0;
        position: absolute;
        transition: all .2s ease-out;
        &__tabButton{
            &--hide{
                & p{
                    visibility: hidden;
                    margin: 0;
                    width: 0;
                    height: 0;
                }
            }
        }
    }

    &__details {
        position: absolute;
        opacity: 0;
        display: none;
        transition: all .2s ease-out;
    }

    &__content--active {
        position: relative;
        opacity: 1;
        display: block;
    }
}

.status {
    position: relative;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    z-index: 2;
    margin-bottom: 4px;

    & p {
        margin: 0;
        margin-right: 10px;
    }

    & svg {
        width: 15px;
        margin-bottom: 5px;
    }

    &__list {
        cursor: default;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        position: absolute;
        width: 280px;
        padding: 20px 25px;
        top: 30px;
        right: -25px;
        z-index: 3;
        transition: all .2s ease-out;
        transform: translateX(30%);
        opacity: 0;
        pointer-events: none;
        display: none;

        &--active {
            transform: translateX(0);
            opacity: 1;
            display: block;
        }

        &Item {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            & svg {
                width: 20px;
                margin-bottom: 0;
                margin-right: 10px;
            }
        }
    }

    &--yellow {
        & p{
            color: $color-gold;
        }

        & svg path {
            fill: $color-gold;
        }
    }

    &--green {
        & p{
            color: $color-green;
        }

        & svg path {
            fill: $color-green;
        }
    }

    &--completed {
        & p{
            color: $color-blue;
        }

        & svg path {
            fill: $color-blue;
        }
    }

    &--inactive {
        & p{
            color: $color-gray;
        }

        & svg path {
            fill: $color-gray;
        }
    }
}

@media (max-width: $screen-large) {
    .reqDetails {


        &__flexContainer {

            &--small {
                flex-direction: column;
                width: fit-content;

                & h1 {
                    position: relative;
                    left: -10px;
                }
            }
        }

        &__contentSection {
            flex-direction: column;
            padding: 20px;

             & h3 {
                 text-align: start;
             }
        }
    }

    .status {

        &__list {
            right: -70px;
        }
    }
}

@media (max-width: $screen-small) {
    .reqDetails__infoSection{
        padding-left: 0px;
    }
    
    .reqDetails{
        margin-right: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .reqDetails__flexContainer--small{
        align-items: end;

        & h1{
            left: 0px;
        }
    }

}

@media (max-width: $screen-medium) {
    .reqDetails__infoSection{
        padding-left: 0px;
    }

    .reqDetails__flexContainer--small{
        align-items: end;
        
        & h1{
            left: 0px;
        }
    }
}

@media (max-width: $screen-large) {
    .reqDetails__infoSection{
        padding-left: 0px;
    }

    .reqDetails__flexContainer--small{
        align-items: end;
        
        & h1{
            left: 0px;
        }
    }
}