/*
    start classes for autocomplete component
*/
// panel group
.autocomplete-suggestions {
    border: 1px solid $color-darkGray;
    border-radius: 0 0 10px 10px;
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.05);
    font-size: $typo-button;
    background-color: #FFFFFF;     
    transition: all .2s ease-out;
    color: $color-darkGray;
    width: 100%;
    overflow-y: hidden;
    padding: 10px;
    display: block;
    opacity: 1;
    border-top: none;
    top:-15px;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: $typo-bold;
    color: $color-green;
}

.autocomplete-group {
    padding: 2px 5px;
    font-weight: $typo-regular;
    font-size: $typo-button;
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
// end autocomplete classes

.selectadd{
    //position: relative;
    //appearance: none;
    //height: 55px;
    //border: 1px solid $color-gray;
    //border-radius: 10px;
    font-size: $typo-button;
    //background-color: #FFFFFF;     
    //box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-out;
    //background-image: url('../resources/expandIcon.svg');
    //background-repeat: no-repeat;
    //background-position: right .7em top 50%, 0 0;
    //background-size: 15px;
    //color: $color-gray;
    margin: 20px 0;
    margin-left: 90px;
    width: 100%;

    &--edit{
        margin-left: 40px;
        width: calc(100% - 90px);
    }

    &--reqCreation {
        margin-left: 0;
        margin-bottom: 0;
    }

    & .help-block {
        display: none !important;
    }
}

// TODO modify for disabled state on selection
.select2-container--disabled { background-color: $color-lightGray; }

.select2-selection__choice{
    background-color: #294F75 !important;
    color: white;

    & span {
        color: white !important;
    }
}

.select2-results__option[aria-selected=true] {
    display: none;
}

.select2-search__field{
    display: none;
}




.select {
    position: relative;
    appearance: none;
    height: 55px;
    border: 1px solid $color-gray;
    border-radius: 10px;
    font-size: $typo-button;
    background-color: #FFFFFF;     
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-out;
    background-image: url('../resources/expandIcon.svg');
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 15px;
    color: $color-gray;
    margin-top: 35px;
    margin-bottom: 5px; 
    margin-left: 90px;
    width: 100%;

    &__container {
        position: relative;
        display: flex;
        width: 100%;

        & .has-error {
            margin-bottom: 0;
        }

        &--reqCreation {

            &2col {
                width: 47%;
            }
            
            &3col {
                width: 29%;
            }
        }
    }

    &__selected {
        width: 100%;
        height: 55px;
        line-height: 55px;
        padding: 0 25px;
        color: $color-darkGray;
    }

    & .select__option, .select__selected {
        cursor: pointer;
    }

    &__optionsContainer {
        background-color: #FFF;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 3;
        opacity: 0;
        max-height: 0;
        transition: all .2s ease-out;
        overflow-y: hidden;

        &--active {
            padding: 10px 0;
            display: block;
            max-height: 260px;
            opacity: 1;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 10px;
                background-color: $color-lightGray;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-gray;
                border-radius: 10px;
            }
        }

        & .select__option {
            padding: 10px 25px;

            &:hover {
                background-color: $color-gray;
            }

            & label {
                cursor: pointer;
                color: $color-darkGray;
                width: 100%;
            }

            & input {
                display: none;
            }
        }
    }

    &__label {
        position: absolute;
        transition: all .2s ease-out;
        font-size: $typo-button;
        font-weight: $typo-regular;
        color: $color-gray;
        cursor: pointer;
        opacity: 1;
        width: 100%;
        overflow: hidden;
        white-space: nowrap; 
        z-index: 2;

        &--visible {
            visibility: visible !important;
        }

        &--register {
            margin-left: 26px;
            margin-top: 17px;
            visibility: hidden;
        }

        &--focused {
            transform: translate(0px, -150%);
            font-size: $typo-h4;
            font-weight: $typo-bold;
            color: $color-blue;

            &reqCreation {
                font-size: $typo-button;
            }
        }
    }

    &:focus {
        color: black;
        outline: none;
        border: 1px solid black;
    }

    & .option {
        appearance: none;
        padding: 5px 0;
        border: none;
        background: white;

        &::selection {
            background: $color-lightGray;
        }
    }

    &__searchBox input {
        width: 90%;
        margin: 0 5%;
        padding: 10px 10px;
        font-size: $typo-button;
        border: solid 1px $color-gray;

        &:focus {
            outline: none;
        }
    }
}

@media (max-width: $screen-small) {
    .selectadd{
        margin-left: 0;
    }

    .select {
        &__label {
            width: calc(100% - 60px);
        }
    }
}