.select {
    appearance: none;
    height: 55px;
    border: 1px solid $color-gray;
    border-radius: 10px;
    font-size: $typo-button;
    background-color: #FFFFFF;     
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-out;
    padding: 0 25px;
    background-image: url('/resources/expandIcon.svg');
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 15px;
    width: 70%;
    margin: 15px 0;
    margin-left: 20%;
    color: $color-gray;


    &:focus {
        color: black;
        outline: none;
        border: 1px solid black;
    }

    & .option {
        appearance: none;
        padding: 5px 0;
        border: none;
        background: white;

        &::selection {
            background: $color-lightGray;
        }
    }
}