html{
    min-height: 100%;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FAFAFA;
}


@import 'components/variables';
@import 'components/buttons';
@import 'components/inputs';
@import 'components/select';
@import 'components/content';
@import 'components/request';
@import 'components/loader';
@import 'components/reqDetails';
@import 'components/candidate';
@import 'components/noCandidates';
@import 'components/candidateDetails';
@import 'components/popUp';
@import 'pages/login_main';
@import 'pages/login_register';
@import 'pages/cultural_analysis';
@import 'pages/dashboard_main'; 
@import 'pages/dashboard_notifications'; 
@import 'pages/dashboard_perfil'; 
@import 'pages/login_forgotPass';
@import 'pages/dashboard_reqCreation';
@import 'pages/dashboard_reqCreationPay';




* {
    font-family: 'Open Sans';
    box-sizing: border-box;
}